:root {
  --darkBg: rgba(13, 19, 21, 1);
  --text: white;
  --light: 300;
  --regular: 400;
  --bold: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--darkBg);
}

li {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: var(--text);
}

/* HEADER SETTINGS */

.header {
  display: flex;
  align-items: center;
  background-image: url("../images/killian-pham-j0DrLBZH0nE-unsplash_dt_header_text.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: auto;
  padding-bottom: 20px;
}

.headerTitleContainer {
  margin-top: 30%;
  justify-content: center;
  color: var(--text);
  background-color: var(--darkBg);
  text-transform: uppercase;
  height: fit-content;
  width: fit-content;
  align-self: baseline;
  padding: 5px 20px;
}

.headerH1 h1 {
  margin: 0;
}

.headerH1 h2 {
  margin: 0;
  text-align: right;
  font-weight: var(--regular);
}

.hamburger {
  position: fixed;
  text-align: end;
  right: 0;
  z-index: 1;
}

.hamburger img:hover {
  cursor: pointer;
}

.burgerMenu {
  display: none;
  justify-content: center;
  align-content: left;
  flex-direction: column;
  background-color: var(--darkBg);
  width: 250px;
  padding: 15px;
  border-radius: 25px;
  transform: translateX(105%);
  transition: transform 0.3s ease-in;
}

.burgerMenu.active {
  transform: translateX(0%);
  transition: transform 0.4s ease-out;
  display: flex;
}

.burgerMenu h3 {
  text-align: left;
  color: var(--text);
  text-transform: uppercase;
  margin-left: 0;
}

.burgerMenu a {
  display: flex;
  width: 100%;
  gap: 25px;
  align-items: center;
  padding: 30px;
  margin-left: 40px;
}

/* MAIN BODY INDEX*/

.loader {
  display: inline-block;
  text-align: center;
  line-height: 86px;
  text-align: center;
  position: relative;
  padding: 0 48px;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 50px auto;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: currentColor;
  position: absolute;
  animation: load 0.7s infinite alternate ease-in-out;
  top: 0;
}
.loader:after {
  top: auto;
  bottom: 0;
}
@keyframes load {
  0% {
    left: 0;
    height: 43px;
    width: 15px;
    transform: translateX(0);
  }
  50% {
    height: 10px;
    width: 40px;
  }
  100% {
    left: 100%;
    height: 43px;
    width: 15px;
    transform: translateX(-100%);
  }
}

.recentPostTitle {
  color: var(--text);
  text-align: center;
}

.mainContainer {
  display: flex;
  max-width: 960px;
  margin: auto;
}

.next,
.previous {
  align-self: center;
  padding: 20px 10px;
}

.next:hover,
.previous:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--text);
  border-top: 1px solid var(--text);
  border-radius: 25px;
}

.carouselContainer {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 10px;
  color: var(--text);
  max-width: 900px;
  margin: auto;
  /* margin-left: 10px; */
}

.blogContainer {
  display: flex;
  justify-content: center;
  min-width: 200px;
  height: 295px;
  border-radius: 25px;
}

.welcometext {
  display: flex;
  flex-direction: column;
}

.welcometext p {
  color: white;
  text-align: center;
  margin: 100px auto;
  max-width: 768px;
  font-size: 1.25rem;
  padding: 0px 20px;
}

.cta {
  font-size: 1.25rem;
  text-align: center;
  color: var(--text);
  background: black;
  padding: 10px 30px;
  border-radius: 25px;
  margin: auto;
  /* width: 357px; */
  height: 57px;
}

.cta:hover {
  cursor: pointer;
}

.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(13, 19, 21, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  height: auto;
  width: 100%;
}

.carouselModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 640px;
}

.carouselModal img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

/* BLOG PAGE */

.blogPageTitle {
  color: var(--text);
  text-transform: capitalize;
  margin: 30px 0 0;
  text-align: center;
}

.blogListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blogListContent {
  max-width: 300px;
  max-height: fit-content;
  /* border-radius: 25px; */
  margin: 30px;
  background-color: var(--text);
  color: var(--darkBg);
  border: 1px solid #fff;
}

.blogListContent img {
  width: 100%;
  height: 363.281px;
  /* border-radius: 25px; */
}

.blogListContent p {
  padding: 0 5px;
}

.blogListContent h3 {
  color: var(--text);
  text-align: center;
  margin-top: -1px;
}

.loadMoreImg {
  display: none;
  justify-content: center;
  height: 659.984px;
  width: 300px;
}

.loadMoreImg img {
  scale: 0.8;
  cursor: pointer;
  margin: auto;
}

/* BLOG DETAIL PAGE */

.blogDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text);

  margin: auto;
}

.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  line-height: 1.5;
  max-width: 1080px;
  margin: auto;
}

/* WORDPRESS CLASS ADJUSTMENTS */

.wp-block-heading {
  text-align: center;
  text-transform: uppercase;
}

figure {
  width: 100%;
  margin: auto;
}

figure img {
  display: flex;
  justify-self: center;
  max-width: 100%;
  height: auto;
  margin: auto;
}

/* COMMENT SECTION */

.addCommentForm {
  display: none;
  flex-direction: column;
  justify-content: center;
  color: var(--text);
  background-color: rgba(26, 38, 43, 1);
  max-width: 780px;
  margin: auto;
  transform: translateY(26%);
}

.showCommentForm {
  display: flex;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.addCommentForm input {
  height: 30px;
  color: var(--text);
  background-color: var(--darkBg);
  border: none;
  font-size: 1rem;
}

.addCommentForm textarea {
  color: var(--text);
  background-color: var(--darkBg);
  border: none;
  font-family: source sans pro, sans serif;
  font-size: 1rem;
}

.commentNameCont {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  text-transform: uppercase;
}

.commentEmailCont {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  text-transform: uppercase;
}

.commentTextCont {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  text-transform: uppercase;
}

.addCommentCont {
  display: flex;
  justify-content: flex-end;
}

.addCommentBtn {
  font-size: 1rem;
  text-align: center;
  color: var(--text);
  background: black;
  border-radius: 25px;
  margin: auto;
  width: 180px;
  height: 40px;
  margin: 10px 20px;
}

.commentContainer {
  max-width: 780px;
  min-width: 320px;
  color: var(--text);
  background-color: rgba(26, 38, 43, 1);
  margin: auto;
  margin-top: 100px;
  letter-spacing: 2px;
}

.commentContHead {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  text-transform: uppercase;
  margin-bottom: -20px;
}

.addCommentTextBtn {
  font-style: italic;
  font-weight: 300;
  cursor: pointer;
}

.commentBox {
  max-width: 740px;
  min-width: 320px;
  min-height: 100px;
  background-color: var(--darkBg);
  margin: 20px;
}

.commentUserName {
  padding: 10px 0px 0px 10px;
  text-transform: uppercase;
  margin: 0;
}

.commentTime {
  margin-top: 0;
  margin-left: 30px;

  font-size: 0.6rem;
}

.userComment {
  padding: 0 40px;
}

.commentLiked {
  display: flex;
  align-content: center;
  gap: 10px;
  padding-left: 30px;
  margin-top: -20px;
}

.likeHeart {
  height: 18.35px;
  width: 20px;
  align-self: center;
  cursor: pointer;
}

.likeText {
  text-transform: capitalize;
}

.required {
  font-weight: 300;
  font-size: 0.8rem;
  /* font-style: italic; */
}

.commentThanks {
  text-align: center;
  font-weight: 300;
  font-size: 1.25rem;
  width: 320px;
  margin: auto;
  padding: 5px 0px;
  margin-bottom: -100px;
}

/* FOOTER */

.footerContainer {
  position: relative;
  bottom: 0;
  background-color: var(--darkBg);
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 200px;
  padding: 20px 30px 0px 30px;
  color: var(--text);
  border-top: 0.5px solid white;
  border-radius: 25px 25px 0px 0px;
  flex-wrap: wrap;
}

.subscribeText {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  max-width: 400px;
  margin-bottom: 30px;
}

.subInput {
  max-width: 420px;
  height: 40px;
  text-indent: 40px;
  font-size: 1.25rem;
}

.subInput::placeholder {
  font-size: 1rem;
  font-style: italic;
}

.subButton {
  font-size: 1rem;
  color: var(--text);
  background: black;
  padding: 10px 30px;
  border-radius: 25px;
  margin: 30px auto;
}

.subButton:hover {
  cursor: pointer;
}

.subInputCheckmark {
  display: none;
  text-align: left;
  margin-left: 5px;
  transform: translateY(-390%);
  width: fit-content;
}

.show {
  display: block;
}

.letterBoxCont {
  text-align: end;
  width: 118.521px;
}
